* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; /* Ensure body takes full viewport height */
}

.header-content {
    background-color: #333;
    color: white;
    padding: 30px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    background-color: black;
    padding: 15px;
}
nav ul a {
    text-decoration: none;
    color: white;
}
nav ul a:hover {
    background-color: #575757;
    border-radius: 5px;
    padding: 2px;
}
.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
main {
    background-color: #eee;
}
footer {
    background-color: #333;
    color: white;
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: center;
}